<section class="main-body">


<h2>Thanks for noshing with us! Hope you enjoy!</h2>

<section class="parting-wisdom">
  <p>
    Order # <%= @order.id %>
  </p>
  <p>
    Don't worry! You won't be hungry for long.
  </p>
  <p>
    The Byte Squad will ship your snacks as soon as possible.
  </p>
</section>

<nav class="navbar">
  <%=link_to "Back to Home", root_path, class: "btn btn-info mx-1" %>
</nav>


</section>
