<section class="main-body">

<h1>Oh no!</h1>

<h3>Sad. It looks like you don't have any snacks.</h3>
<h3>But don't worry! The Byte Squad can fix that!</h3>

<nav class="navbar navbar-expand-md">
  <span>
    <%=link_to "Home", root_path(@cart), class: "btn btn-info mx-1" %>
    <%=link_to "All Products", products_path, class: "btn btn-info mx-1" %>
  </span>
</nav>

</section>
