<div class="container">
  <div class="row">
    <div class="heading-title text-center">
      <h3 class="text-uppercase">The Byte Squad </h3>
      <p class="p-top-30 half-txt">A team of audacious Adies, noshing their way through this project on snacks from around the world. </p>
    </div>
    <div class="col-md-4 col-sm-4">
      <div class="team-member">
        <div class="team-img">
          <img  src="https://lh3.googleusercontent.com/6sCE5D4d0FXKWhBJnoWgvrXqPcYa-xXKwKwkr7QnxlqnjKAlocLMRg915T2HWEo-YoBZzVjUEeTUcmL3Il_dGMaTIuKiN5NxFtoFOTR_s_Crj63Kth_Ls-0YjB6hQ6CxJDHd0HAts7BcALQ_lmvgleqpZ3p2eYq_QjKi4S7L9QNjm6pCI1Hwptw2Wsymo3rspt045AVSRMazpkmMnHFWfvoQGR2ZmmaYpOC9r0yDx5om7z1eCEoaBhkFP3GhscoLr0VGfUpqWsyTwjhMFPsdUBu8mgRbb9iWoEaI4twXO3EyPGAWmxgGfFj82bQtMcvncuDWpihMWLMez1QCTpPZ_KhIjymNBOVlpRYbHpCby0xpWoTSkOBZL_NAq5ruU_uVYSJjRT9yB9sgvXMEd404uylZoHAfWtDJBI7wJq98MrwqbfzXej5pD4K_12X7WzYjXI6P_heoUc18GABFf4mEgh5V-7TovGPwaZidVKO8sD_hNaCZ8FMhfxQmOjlJ2KpYtfvX3spVvdoBwfsVSE8N-5he2IbtP1qrez_7lQH3niS2gTjC-gvcvAt8u_3SSe38qlNL7MnWbDyXUrhLWmFjWOhmLDJVWFJae-wP8spsNElaI49YK0BHGI4hGF-M-SLFbzRn4OGJm2VfsLuXvZ11vxD7tFgNE5lRrut2zqh7lIaiNqhB_2uj_6Px-TMC8QVMukZ0H1kfC78qTThTKQ=w113-h171-no"  alt="team member" class="img-responsive">
        </div>
      </div>
      <div class="team-title">
        <h5>Anibel</h5>
        <span>Primary Order Wizard & Fibonoshi’s full-time Backend Engineer</span>
      </div>
    </div>

    <div class="col-md-4 col-sm-4">
      <div class="team-member">
        <div class="team-img">
          <img src="https://lh3.googleusercontent.com/m1tqS6uh39eNOIdmCo3pspW_nEvwvxmZ_RaUymVbn902hgXeAk-3eUHCoJhjom8uTi9za-dFf8o1l8Vukgo04jeIEKCY7VjXrBaph7b5aKd2h0jzpzuJMEcVC6eIzDOG8kQSqpwrhS0LOSZjHyV-xJNphIIpq7rs1Gftvt2p6ZFPY3zJtRxAP9ZonjWkggY25YjWoTYDVmmqpG3fPEU5b3Q7Mx0pb6lBFhuJdiFBAFVH1rt8PhRE7RK0-j0aitOPe4wIeRkwd8jJNN5543CAEHFyDHAGw5cZ3ett3lTCO5kzHM4jM90ZIM3nEWNv9Md-RJ0Tk1ntsUmelGsgjSRno7EfKwLxTRGwcVjPyERyAvu_NPwwGC1awv7LTOnD6KSbNqf8Nq1ff_3GaMFSbyo151Bu9UT8yUMoy0UorhJ3aYCRoS0H0skPNTPcX4TJUfUR1w-H_taHknky2FNJQkMioY90tlL4IuVkFkcRM5itTZ9mSt93weruXQOeOSZaGTwgw8lo7yDQ_PS9y12oqKGjetb_vpnSJcmNUY_yPjd84X747pSxu2oSuEYbQBv1n5ZSj7GwJ4fyn1Kgkl0YyJYVFSXf2Q68x0s3mFkmEOGKZnKDEZoddNljAaFsgHoHzYmTb6epLsUNQZ-36meHGVAYeF2Ui1FOMnXQR-tKnkaE4R9mHhkd0QJ6CF1kd3d3eBO8wFGIaeVRjpSs8dfsfg=w129-h195-no" alt="team member"  class="img-responsive">
        </div>
      </div>
      <div class="team-title">
        <h5>Katrina</h5>
        <span>Fibonoshi’s Engineer-of-all-Trades & Lead Designer</span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-sm-4">
      <div class="team-member">
        <div class="team-img">
          <img src="https://lh3.googleusercontent.com/ab_9Teg_x-yZDQO8IYTzNboRiKp78IwkNqvfPBrfhmWbtuzrQj5PAlrKwEKKMePlZQy3BvutdEmo-K9gRkK2sP52FkQKabCk5uFQsUjNNgnoSMulbgaKqtopA8VOzFywhCjZAiZbVbsvKsl3UphSlFz3Tndu-4TCNXBtj8G58HQfJ0CgowTWY24Xw2kkhziXPOCHoM3VX9Ys4EbzcfbIreKardSe6yKhogG294k_KAl9Icp_OYQyKuDP79lGukiSQtFDzm-kfz3PK2ye_99lzdJA_cbWjzj1xYVbkthtRQWoKl9TV4hACjIqTJmjwvP3cpYA1rAgw_A0WW1TuEQwt3p0MzX6V-csh33jVm-V1d2Bt4MoXQg6C1PUlybsuqvWjrWuzaXuA6sSza36-MMPfK7H9BL0OS35XyzdVbRrs7Pr_XeCFyvTdlsNVcZKp66oAMiTj-3Ome96qHtkDeNl1Hitc-bYAtp0wYe1k2frSAAKe6yynXMZS0olTleGgw-x3sNNF7Spp0iu5wZya2ilI7X5StqkGKHw6MDhvRHUQToviN2c_58oevdh7ZKz3Nn7QBz8Mz5luBHb8vkakCIoA_v5Lam6ZudeLbbx6KaoaEWoXhO8ZOyCA-3v2XS_8V9P686esIEoL6Jy2yb3TA6x01_k1X8_2zAXnk56MdKu7XYEIfus5gmvTHthA-6cAxm_nVFN8C13MFTBUfK4kQ=w195-h130-no"  alt="team member" class="img-responsive">
        </div>
      </div>
      <div class="team-title">
        <h5>Carly</h5>
        <span>Lead Inventory Engineer & Fibonoshi’s "Database Gardener”</span>
      </div>
    </div>
    <div class="col-md-4 col-sm-4">
      <div class="team-member">
        <div class="team-img">
          <img src="https://lh3.googleusercontent.com/XYfBLdzpbvr7y3bYRcYzkUbAJgsYCBAbIB8iDyrh04GVKnIXeDtWGw3jCWO95-OnjCzDuK-aJ_Vt8cWHlP0KnbqmSr5b6oEVnu5L5fnqM0-Rl5jSble7Jzqr91gcuPMuojQj1vTs9KFZLPZ5fC51gXdhPL2V103zjwd196pTRQ5He8FP4pODeIJof9OsI4I5FA4hzcCPkQsH__anEFP2SdjfHnRuSbyiiSdCyKB0vEf6dQqYhFhxOHqWriCge-IZo1Bqdo8OBneCiaZfyuOz2L8uVhcyX1Fhnie9UR36lIrI83MneQ28aNJKbjB-z7TesBaNmjU3CZdh9oJJihWoYuVl954WIMYFZbGVQcWSmQu3aGd_FvTmE5b8q_2EEmSawU3M2gnksERXAHkf_-jMG6YMvVMamqCJK1OpBBklKklv9KippBHJU0yhCFq0FNJrOQ--mzJu98J8g-fz3T1c9fU54Xpn6-cUBRFEkPoI-l36BypmjnvKuw4p07GXAehOc_-O6dVAMoTcnWPOMM6cohV3f4m4YVTkUSYPimPeL4cIyBcHu_s8mbrUP052h6JRBZ7B4Xuq9WwoMq28-jW2Aa1obnlEKW0vXAExC3RQm2O1HdWVlunhhRADQs2vdfnukdgYt-8N8okTJCnbadp0Lx21vjDNPtt-CNkzPPz5F49Lh-F3YB61JvzQ-QA4AmLBUQDcUrS1PxLX0efGXQ=w196-h130-no" alt="team member" class="img-responsive">
        </div>
      </div>
      <div class="team-title">
        <h5>Pushpa</h5>
        <span>Lead Merchant Engineer & Team Positivity Maintainer </span>
      </div>
    </div>

  </div>

</div>
