<section class="main-body">

  <div class="heading-title text-center">
    <h3 class="text-uppercase">Meet the Byte Squad </h3>
    <p class="p-top-30 half-txt">A team of audacious Adies, noshing their way around the world. </p>
  </div>


<div class="container .col-xl-">
  <div class="row">
    <div class="col-md-12 col-sm-12">
      <div class="team-member">
        <div class="team-img">
          <img  src="https://lh3.googleusercontent.com/NPttrjFzw_6daH6gYHBkDfrtKDeWEd4yJs_oBmwwPRiHwZuqRTllMWP31SQDGedzKxwlNTCic00cOdb_v1IJ_a9QGmZHltIjXBtHpwLrbw8G5Egt90gqnscd1F4vHLqQ_yFGSHKFyFO2In92H9l-0YE16JbIdwGsPFhR3L-Meskt8-Yawdkf7Ec8UKjZPFBW6eVUfiCUzWVZF2doyq4lC_tubhZXw_u6FW0hiyS6UWgGI8gP-d0Cw9EVgQPNBN6dsbvE2rSIM_qvMiTRaq6b3-ia8RlONWbJ1BXmjBoCVRKFX6AMzIZ3YeiK7Eln9hZae5LtCZvDmhkscg7hOIm5YsJGhEgd3ZeKeE7C5JghRjfs33zi9DR0282F6br4JJBGxIYdF8_bE8JokD_u-S0quN8EkPCC8WUnQUtZXORqgj_dJJTNqIXm9U916ayYwvbw3U6gVuvP1jMyQsyp0-F89-Z8TElFrmb0u3Ah8_ioDnrJSAXJK09gIYvg33XVry8tkc7XOHq9AbpQxIelGJYI3PKsDuWZO0du7D2fyz0Npkln6UwZ8Ziy78Z1gCODBFcqMgZz-Y1Vx36WfbV3dRbdskkGWWWD6rw8PBqijc7fpj8X98NKIIPynq9QaCQThHU5lMAfgoiFf47sKn_EQDJh7Ss8RyAGvWErL_FomvgBWKsCkGFBrAIC8rG_mVwdYQ2QNjo7DAjmrMAEYUTkow=w538-h808-no"  alt="team member" class="img-responsive">

        </div>
      </div>
      <div class="team-title">
        <h5>Anibel</h5>
        <span>Primary Order Wizard & Fibonoshi’s full-time Backend Engineer</span>
      </div>
    </div>

    <div class="col-md-12 col-sm-12">
      <div class="team-member">
        <div class="team-img">
          <img src="https://lh3.googleusercontent.com/fBtxBG--Ni_7d62fJeHNPtZTd_-5ypDzNLlzdwt_vaDHPcr_mTx6BMursyAV3DP0QXgZts-aBc4toT0k5HpDSBaRldJSHdtSj7hsKitdqwpHSRM2XDxeHW1tzA58BRosoz8fRf9s2Ewgqinr7Whc0RmYWTd62MkF_fxzn2i4NsoIWVEUTZqV9bpZgIaRn5cK0C37s9M0RRvnFM5JDCXZH1Hey_UxlpSa_Mdz45K8OqaLcZc2IPnX1U-EutVEEaOwVq5rpskbb6VOSH9dTxMLYvAk_IT9Z0TIhYBH-G41t2OD_1GLcLEb0aJHBLjVuRqQhQaPT-gnqHIc1mCvF2rlwA4bPmmDLU0HSTzCX7txYhY3p6sssyAd5x18CAI8tZDjtpNr4NaSfOE-EW7-UN-QEcJb_-JzyRJU9-Gkgpl9goDPyCAK8wzIHWf-uih3c2jez8b7kJh-WvcSGygy88FDK8SmH24w-9BRKyciHygAzHf7eAeuiepdZKU27XuKmxu__OgU-phItwaouAXfQzjmq3cGSb6rvbw8vnVVn1dKeEUKUXBV0ExReAOYdNwnLzSW_UNF7ArEURthJCCm5qrXdiB_qye_9r8DKo044HQCq4U781w9Kqp8cpWP0bDBzHql6wByCgY8J2297Iw7V2GZXDkTrOlSIZ-7cyK73SS9r_4ZrCPh6HXmtFnOKpuLUR6gwdMwAXBbtpWX8DuDpg=w592-h890-no" alt="team member"  class="img-responsive">
        </div>
      </div>
      <div class="team-title">
        <h5>Katrina</h5>
        <span>Fibonoshi’s Engineer-of-all-Trades & Lead Designer</span>

      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 col-sm-12">
      <div class="team-member">
        <div class="team-img">
          <img src="https://lh3.googleusercontent.com/zRCTYMWoZYiID9m6ld1K4sa6hY3AW1QkYG9cBA9vtbD5q1YHV2ETz2TzHrOJUbgP-jbUPDBBXT-frJXCtjOMiWIjoIbZUUgmhLtJKu_bETGGdaGHZ6k_UxCwstJL7pX8tm6TT2b0s5amFi8OWYcJrpavIkGyJ9ZDKXa7vNw8fywn7q7_sEC43_6N5jYUrb96WKhj0p5L5-aJp2u7BBNn8wIpDQs9ZIKmaqCnSe2CeIPBmdLq48g_qKZXN_ENh7HVdI4LlThuWTDDkyu2mzlPJro7T0MicJFYdhkt0cleEG_HRlqK4-6erTetpiGP-zrUdWU4QzWoElqIwWDEbuVJ_LFjmopucBl8TUIl6cH7cKxRmzOTVC9kArB7UAMdFBQ-bWlCDymyIvBOHzXGVE_jXccpYjIB6rT2MGgvl1L7xLYUM76LV7KyIbNycQUSYHqdkLTbzqf_LEMl5cTu35wHSUzXs8vdF1IWpCJskN-HrsBQUwbF0MCjgl90OpGGowGHzGlMLj0O3SEmFZvUU4O6Ml4wM0Bwu9NdtA_UmvrBNsYjBmgA6ddFsul40DcMDck2DySH0EY9yax51RtWX2BLp2IobUFJdVf0aVmjfH0XyLqvieDF_VLijnsy1z6oH9UfOZJDMmCZHoeOY7X7EsqTNtfp1G_eEVz-Smu5ZREh9UumpC-vV3AfZpYr3vsDZbXFHHK-XGMFLwn3BtbmCg=w850-h566-no" alt="team member" class="img-responsive">
        </div>
      </div>
      <div class="team-title">
        <h5>Pushpa</h5>
        <span>Lead Merchant Engineer & Team Positivity Maintainer </span>
      </div>
    </div>
    <div class="col-md-12 col-sm-12">
      <div class="team-member">
        <div class="team-img">
          <img src="https://lh3.googleusercontent.com/DjdoaEkGUc9PRu1PI7o5-wPN8TpM1ecxn6LSToXh8HRTxFdLBrqh3BbiBWa82TwDPHajte3J1DEKDmtTz2Cr8oSpugZwf3s7fVqzcZTWZoPWbnaD_EOzY9dINqH4PFyGhzqGFgDocX6s4TfU3J6jvt5bGtgd6xWbFZHojodRzFclpAFJBJRUhKx1XmUyffSBkL9K1fraI-NcMC4U_Z_CJzzWhb5pY4gLWRbooAzBLe1BdI08s7jWYzBjAfqeDnTQfKubW0jvLSpXK4kXC5SXFFptePz2bAwhwMmUNQbzrz2v8nbpEBOau0npqJ9xBYQuxAeCZYc6ibtzeO38Oh5ZsFmXPvXprJicmxu9adJbgk0dYHNH6ztrp3yjSGGEBkCt1JcZVtkxnpL_P-7_dHszKK-rWMlboswmMjizAEQ0Esyq0iDvmJ09g4qKLmnFZacnxMlPVGNxvuwbFhHCdGO7TfK96x3ud9YJG9ydZS9L6nFCAa1yumQJsTYYktZn-qGtF0AijXS4u4XAPA5LDGoKhw--U62xFYwkIzQJGZE9Br1bxJ6PaOXG5yL4N5YcfZczXaIK2dgJjp3QNPy744qWcymB2qUEDhlIpEp8SdkgLwV_if6Uji8CuJPqvshxh8iPRIlh2CudNdSaLMNypc9bNkv5yuKE9TOCauCuYEi-bk_nXQs_ss49CT-BUfD9-65nTHQGqcz4ZKSNwoCeyw=w972-h646-no"  alt="team member" class="img-responsive">
        </div>
      </div>
      <div class="team-title">
        <h5>Carly</h5>
        <span>Lead Inventory Engineer & Fibonoshi’s "Database Gardener”</span>
      </div>
    </div>


  </div>

</div>



</section>
