<div class="container home-content">
  <h4>Explore No Regretsy</h4>
  <div class="spacer"></div>
  <div class="row">
    <div class="col-lg-4 mb-4">
      <div class="card">
        <div class="row no-gutters">
            <div class="col-auto">
              <img src="//placehold.it/100x80" class="img-fluid" alt="">
            </div>
            <div class="col d-flex justify-content-center align-items-center">
              <div class="card-block px-2">
                <h6 class="card-text">Products</h4>
              </div>
            </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 mb-4">
      <div class="card">
        <div class="row no-gutters">
            <div class="col-auto">
              <img src="//placehold.it/100x80" class="img-fluid" alt="">
            </div>
            <div class="col d-flex justify-content-center align-items-center">
              <div class="card-block px-2">
                <h6 class="card-text">Categories</h4>
              </div>
            </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 mb-4">
      <div class="card">
        <div class="row no-gutters">
            <div class="col-auto">
              <img src="//placehold.it/100x80" class="img-fluid" alt="">
            </div>
            <div class="col d-flex justify-content-center align-items-center">
              <div class="card-block px-2">
                <h6 class="card-text">Merchants</h4>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container home-body">
  <div id="featurename">Featured Products</div>
  <br>
  <% featured = @products.last(6) %>
  <% featured.each_slice(3) do |row| %>
  <div class="row">
    <% row.each do |product| %>
    <div class="col-md-4 col-md-4 col-md-4 text-center d-flex justify-content-around">
      <div class="card" style="width: 20rem;">
        <img src="<%= product.image_url %>" width="500" alt="<%= product.name %>" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title"><%= link_to product.name, product_path(product.id) %></h5>
          <p class="card-text"><%= "Description: #{product.description}" %></p>
        </div>
      </div>
    </div>
    <% end %>
  </div>
  <% end %>
</div>
</div>
</div>
