<main>
  <div class="container home-content">
    <h4>Explore No Regretsy</h4>
    <div class="row">
      <div class="col-sm-4">
        <div class="card">
          <div class="row no-gutters">
              <div class="col-auto">
                <img src="//placehold.it/100" class="img-fluid" alt="">
              </div>
              <div class="col d-flex justify-content-center align-items-center">
                <div class="card-block px-2">
                  <h6 class="card-text">Products</h4>
                </div>
              </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <div class="row no-gutters">
              <div class="col-auto">
                <img src="//placehold.it/100" class="img-fluid" alt="">
              </div>
              <div class="col d-flex justify-content-center align-items-center">
                <div class="card-block px-2">
                  <h6 class="card-text">Merchants</h4>
                </div>
              </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <div class="row no-gutters">
              <div class="col-auto">
                <img src="//placehold.it/100" class="img-fluid" alt="">
              </div>
              <div class="col d-flex justify-content-center align-items-center">
                <div class="card-block px-2">
                  <h6 class="card-text">Categories</h4>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container home-body">
  </div>
</main>
