<h2>Cancelled Orders</h2>
<% cancelled_items = @orderitems["cancelled"] %>
<% if cancelled_items %>
<% cancelled_items = Merchant.items_by_orderid(cancelled_items) %>
<% cancelled_items.each do |order_id, items| %>
<% order = Order.find_by(id: order_id) %>
<p>Order #<%= order.id %> : <%= order.orderitems.count %> Items : Placed on <%= readable_date(order.created_at) %> : Cancelled on <%= readable_date(order.updated_at) %></p>
<% end %>
<% else %>
<p>You have no cancelled orders.</p>
<% end %>


<!-- NOTE: cannot update a cancelled order!!! Can only uncancel! -->
