<div class="container">
  <div class="jumbotron text-center">
    <h7>New Sales</h7>
  </div>
</div>
<br>

<div class="container">
  <% if @orderitems["paid"] %>
    <div class="d-flex w-100 justify-content-between">
    <h3>It's time to ship.</h3>
      <button class="btn btn-primary shadow-lg bg-primary rounded" type="button" data-toggle="collapse" data-target="#collapseOrderDetails" aria-expanded="false" aria-controls="collapseOrderDetails">
        Toggle Order Details
      </button>
    </div>

    <div class="collapse" id="collapseOrderDetails">
      <div class="card card-body d-block">
        <ul>
          <li><%= items.size %> products</li>
          <li><%= orderitems_total_quantity(items) %> total items</li>
          <li>Order placed on <%= readable_date(order.created_at) %></li>
          <li>Total sales: <%= readable_cost(order.total_cost) %></li>
      </div>
      <% end %>
    </div>


  <% else %>
    <h3>You're all caught up!</h3>
  <% end %>

</div>
