<div class="container">
  <div class="jumbotron text-center">
      <h2>List of Merchants</h2>
  </div>
</div>
<br>
<ul class="list-group">
  <% @merchants.each do |merchant| %>
  <li class="list-group-item text-center d-inline-block"><%= link_to link_to merchant.name, merchant_products_path(merchant.id) %></li>
  <% end %>
</ul>
</div>
