<h1><%= link_to @merchant.name, merchant_path(@merchant.id) %></h1>
<p><%= @merchant.email %></p>
<ul>
  <% @products.each do |product| %>
    <li>
      <%= link_to product.name, product_path(product.id)%>
    </li>
  <% end %>
</ul>
