<h1><%= link_to @merchant.name, merchant_path(@merchant.id) %></h1>
<p><%= @merchant.email %></p>

<% if session[:user_id] == @merchant.id%>
  <%= link_to "Add Product", new_merchant_product_path(@merchant.id) %>
<% end %>

<br /><br />

<ul>
  <% @products.each do |product| %>
    <li>
      <%= link_to product.name, product_path(product.id)%>
    </li>
  <% end %>
</ul>
<!--
clean up this view by putting loop in partial -->
