/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

/* Custom bootstrap variables must be set or imported *before* bootstrap. */
@import "bootstrap";
/* Import scss content */
@import "**/*";

// Font-Family: 'Roboto', Sans-Serif;
// Font-Size: 48px;
// Font-Family: 'Lora', Serif;
// Font-Size: 14px;


// Header - Nav

.navbar-custom {
  background: white;
}

.navbar a {
  color: #4f5d75 !important;
  font-family: 'Roboto', Sans-Serif !important;
}

.nav-item {
  list-style-type: none;
}


// Header - Carousel

.app-carousel-container {
  width: 100%;
  display: inline-block;
}

.carousel-text {
  color: white;
  padding: 0;
  margin: 0;
  font-weight: bold;
  font-size: 6rem;
  text-shadow: 2px 2px #2d3142;
  padding-bottom: 12rem;
}

.carousel-sub-text {
  font-size: 3rem;
  color: white;
  text-shadow: 2px 2px #2d3142;
}

// Main

.alert__container {
  margin-top: 5rem;
}

main {
  padding: 7rem;
}

h1 {
  font-family: 'Roboto', Sans-Serif;
  font-weight: bold;
  font-size: 5rem;
  color: #2d3142;
  text-align: center;
  padding-bottom: 5rem;
}

// Category - Products - Cards

h5, h6, .card-title, .card-subtitle {
  font-family: 'Lora', Serif;
  font-weight: bold;
  font-size: 18px;
  color: #2d3142;
}

.card-text {
  font-family: 'Lora', Serif;
  font-size: 14px;
  color: #2d3142;
  padding-top: 1rem;
}

.card a {
  color: #4f5d75;
}

.card a:hover {
  color: #ef8354;
  text-decoration: none;
}

.card-merchant {
  border-right: 2px solid #bfc0c0;
  padding-right: 1rem;
}

.card-details {
  padding-left: 1rem;
}




// Footer

footer {
  margin-top: 10rem;
  width: 100%;
}

footer, .text-uppercase {
  background-color: #4f5d75;
  color: #fff;
  font-family: 'Roboto', Sans-Serif;
}

footer a, .footer-copyright {
  color: #fff;
  font-family: 'Lora', Sans-Serif;
}

footer a:hover {
  color: #ef8354;
  text-decoration: none;
}
