/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

/* Custom bootstrap variables must be set or imported *before* bootstrap. */
@import "bootstrap";
/* Import scss content */
@import "**/*";
@import "font-awesome";

*, *::before, *::after {
  box-sizing: border-box;
}

html,
body,
.home-page,
.view {
  height: 100%;
}

.all-pages {
  height: 20%;
}

.view {
  background-image: image_url('splash/ggbridge.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.pt-md-5, .py-md-5 {
  padding-top: 18rem !important;
}

@media (max-width: 740px) {
  html,
  body,
  header,
  .view {
    height: 100vw;
  }

  .pt-md-5, .py-md-5 {
    padding-top: 15rem !important;
  }
}

h1 {
  letter-spacing: 8px;
}

h5 {
  letter-spacing: 3px;
}

.hr-light {
  border-top: 3px solid #fff;
  width: 80px;
}

.home-page .navbar-dark .navbar-nav .nav-link {
    color: white;
}

.all-pages .navbar-brand {
    color: #4A4A4B;
}

.nav-item {
  padding: 1rem 1rem;
}

.navbar-right {
  padding-right: 1rem;
}

.home-content {
  padding: 2rem;
}

.home-body {
  padding: 2rem;
  padding-bottom: 50rem;
}

.spacer {
   padding-bottom: 1rem;
 }

.splash-search::-webkit-input-placeholder {
  text-align: center;
}

.navbar-icon-top .navbar-nav .nav-link > .fa {
  position: relative;
  width: 36px;
  font-size: 24px;
}

.navbar-icon-top .navbar-nav .nav-link > .fa > .badge {
  font-size: 0.75rem;
  position: absolute;
  top: -7px;
  right: 4px;
  font-family: sans-serif;
}
