// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h2 {
  color: red;
}

.review-form {
  margin: 10rem 10rem;
  background-color: salmon;
}

.review-info {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;

  .card {
    display: inline-block;
    border: none;
  }
}

.features .card {
  border: none;
  width: 18rem; margin:0 auto;
}

.text-center.top-rated, .newest {
  color: #4c4f54;
}

.blink{
		color: rgb (0, 137, 226);

		animation: blink 1s infinite;
	 }

	 @keyframes blink{
		0%{opacity: 1;}
		75%{opacity: 1;}
		76%{ opacity: 0;}
		100%{opacity: 0;}
	 }
