<div class="container">
  <% breadcrumb :category, @category %>
  <div class="jumbotron text-center"> <%#grey box%>
    <h2><%= @category.name %></h2>
  </div>
</div>
<br /><br /><br />
<ul class="list-group">
  <% @products.each do |product| %>
  <li class="list-group-item text-center d-inline-block"><%= link_to product.name, product_path(product.id) %></li>
  <% end %>
</ul>
</div>
