<h1>List of Products</h1>
<ul>
  <% @products.each do |product| %>
   <li>
     <%= link_to product.name, product_path(product.id) %>
   </li>
  <% end %>
</ul>

<!-- clean up this view by putting loop in partial -->
