<div class="app-carousel-container">

  <div id="app-slider" class="carousel slide" data-ride="carousel">

    <ol class="carousel-indicators">
      <li data-target="#app-slider" data-slide-to="0" class="active"></li>
      <li data-target="#app-slider" data-slide-to="1"></li>
      <li data-target="#app-slider" data-slide-to="2"></li>
    </ol>

    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" src="/assets/lollipop-b462e9ff485a7fa98aa6eaf964f93445db930a39584cd3c5b08a62eda10c08f8.jpg" alt="First slide image of lollipops in a row">
        <div class="carousel-caption d-none d-md-block">
          <h1 class="carousel-text">NOSHES AROUND THE WORLD</h1>
          <h2 class="carousel-sub-text">.</h2>
        </div>
      </div>
      <div class="carousel-item">
        <a href="/products">
          <img class="d-block w-100" src="/assets/gummyworm-81faeba9db63e987d0da4dac4dd7f34bfefd63c942ec15dc4ec0df23948a4cca.jpg" alt="Third slide of gummyworm candy in a bowl">
        </a>

      </div>
      <div class="carousel-item">
        <a href="/products">
          <img class="d-block w-100" src="/assets/marshmallow-4ab4e766679fee16a12d850cfb1a74c9d2a6d649b877e5c0054243c90f5292c5.jpg" alt="Second slide image of colorful twisted marshmallows">
        </a>
      </div>

      <a class="carousel-control-prev" href="#app-slider" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#app-slider" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>

</div>
