<div class="jumbotron-container">
  <div class="jumbotron jumbotron-fluid j-categories j-merchant j-all">
    <div class="container">
      <h1 class="display-4"> <%= "Noshes from #{model.name}" %> </h1>
    </div>
  </div>
</div>
